ul{list-style:none;}
.ball{border-radius:50%;height:25px;width:25px;float:left;position:absolute;}
.selection{opacity:.65;background-color:#5fafe4;position:absolute;border:1px solid #207ebd;}
.red{background-color:#cc2233;}
.green{background-color:#44bb77;}
.blue{background-color:#3399dd;}
.orange{background-color:#ff9933;}
.purple{background-color:#884477;}
.active.red{background-color:#a01b28;}
.active.green{background-color:#36965f;}
.active.blue{background-color:#207ebd;}
.active.orange{background-color:#ff8000;}
.active.purple{background-color:#663359;}
